
.myPlayer {
    justify-content: center;
    align-items: center;
    float: none;
    margin-left: 0vw;
    position: relative;
    top: -20px;
    left: 8px;
}

.myFrame {
    position: absolute;
    top: -15.5px;
    left: -2px;
}